{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link href="{{ asset('css/register.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}
CoCreate
{% endblock %}

{% block body %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <div class="row col-12">

            <div class="half1 col-lg-6 col-12">

                 <div class="brand col-lg-1 col-2"><img class="img-responsive" src="{{ asset('assets/logo2.png') }}" style="width:100%; float:right"></div>

                 <div class="card col-10 d-lg-none"></div>
        {{ form_start(form) }}

                <h1 class="col-12" style="text-align:center;">SIGN UP</h1>

                <div class="row">
                
                    <div class="container col-3" style="margin:auto">
                        <div class="profile-pic">
                         <img id="preview_image">
                        </div>
                         
                        <div class="add">
                            {{ form_widget(form.profilePic, {'attr':{'class':'custom-file-input','style':'margin-left:12%;', 'onchange':'previewFile(this)'}}) }}
                            
                        </div>
                    </div>
                </div>

                <div class="user row">
                <i class="fas fa-user"></i>
                {{ form_widget(form.name, {'attr':{'class':'col-9','style':'margin-left:12%', 'placeholder':'Fullname'}}) }}

                <i class="fas fa-unlock-alt"></i>
                {{ form_widget(form.email, {'attr':{'class':'col-9','style':'margin-left:12%', 'placeholder':'Email', 'type':'email'}}) }}

                <i class="fas fa-unlock-alt"></i>
                {{ form_widget(form.password, {'attr':{'class':'col-9','style':'margin-left:12%', 'placeholder':'Password', 'type':'password'}}) }}
              
                </div><!--user-->

              <div class="row" style="margin-top:40px">
                {# {{ form_widget(form.submit, {'attr':{'class':'login-btn col-lg-2 col-md-5 col-9','type':'submit'}}) }} #}
                <button class="login-btn col-lg-2 col-md-5 col-9">{{ button_label|default('Sign Up') }}</button>
                </div>

                   <div class="account">Already have an account?<strong><a href="/login/"> Sign in now! </a></strong></div>
        {{ form_end(form) }}

            </div><!--half1-->

            <div class="half2 col-lg-6 col-12 d-none d-lg-block">
            </div><!--half2-->

        </div><!--row-->

    

     {% if error %}
     <div class="large-container-overlay">
        <div class="error-card col-10 col-xs-10 col-md-6 col-lg-6 col-xl-2">
        <div class="close"></div>
            <h1>Oops!</h1>
            <h4>This email has already been taken</h4>
        </div>
     </div>

    {% endif %}

        <script>

      $(document).ready(function() {
    
    console.log("ready");

        $(".close").on("click", function(){
            $(".large-container-overlay").fadeOut();
        });
     });

        function previewFile(input){
            var file = $("input[type=file]").get(0).files[0];
            if(file){
                var reader = new FileReader();
                reader.onload = function(){
                    $("#preview_image").attr("src", reader.result);
                }
                reader.readAsDataURL(file);
            }
        }

    </script>

{% endblock %}