{% extends "base.html.twig" %}

{% block stylesheets %}
  <link href="{{ asset('css/ask.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}
CoCreate
{% endblock %}

{% block body %}
            <nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg"><!--fix colour at a later stage-->
                
                <a class="navbar-brand brand" href="#"><img class="img-responsive1" src="{{ asset('assets/logo2.png') }}" style="width:40%;"></a><!--insert logo-->

                <div id="navBarContent" style="margin-top:30px">
                        <!--nav content-->
                    <ul class="navbar-nav" >
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Explore</a>
                        </li>

                        <li class="nav-item link2">
                            <a class="nav-link" style="margin-left:20px" href="/profile/{{app.user.id}}">My Profile</a>
                        </li>
                    </ul><!--navbar-nav-->
                    
                </div><!--end of navcontent-->   
            </nav><!--end of nav-->

            {{ form_start(form) }}
            <div class="row">
              <div class="col-12 col-lg-6 picContainer">
                <div class="picture-input col-12 col-lg-10">
                 <img id="preview_image" class="col-12">
                    <div class="add">
                     {{ form_widget(form.imageUrl, {'attr':{'class':'custom-file-input','style':'margin-left:12%;', 'onchange':'previewFile(this)'}}) }}
                    </div>
                </div>
              </div>

              <div class="col-12 col-lg-6">              
              <h3 class="col-10 askHeader">Ask for advice...</h3>
              <p class="col-10 askP">CoCreate is a safe space where creatives can get advice on the projects they are working on. Show us what you are designing at the moment!</p>

              {{ form_widget(form.questionText, {'attr':{'class':'col-10 textArea', 'placeholder':'Ask your question...'}}) }}  
              {# <textArea class="col-10 textArea">Ask your question</textArea> #}
              
              {{ form_widget(form.community, {'attr':{'class':'col-10 communitySelect'}}) }}  

              <div class="row" style="margin-top:50px">
              {{ form_widget(form.submit, {'attr':{'class':'col-8 col-md-4 col-lg-3 post'}}) }}  

              {{form_widget(form.userId, { 'attr': {'class': 'form-control','name':'questionTest', 'id':'questionTest', 'placeholder': 'userid', 'style': 'margin: 10px; display:none', 'value' : app.user.id } }) }} 
              <input id="question_userId" name="question[userId]" value= {{app.user.id}} style="display:none" />
              {# <div class="post col-3">Post question</div>
              {# <h1>{{app.user.id}}</h1>  #}
              </div>
              </div>

            </div>
            {{ form_end(form) }}

         
            <div class="row footerContainer" >
              <div class="footer col-12 row">
                  <div class="col-6 col-lg-4 footerLogo"><img class="img-responsive" src="{{ asset('assets/Group 5.png') }}"></div>
                  <div class="col-6 col-lg-4 d-none d-lg-block" style="text-align:center; color:white; margin-top:60px">COPYRIGHT 2021 PROJECT</div>
                  <div class="col-6 col-lg-4" style="margin-top:45px;">
                    <a class="circle facebookCircle" href="https://web.facebook.com/?_rdc=1&_rdr"><img  src="{{ asset('assets/facebook.png') }}" style=" width:100%"/></a>
                    <a class="circle" href="https://www.instagram.com/"><img src="{{ asset('assets/insta.png') }}" style=" width:100%"/></a>
                    <a class="circle" href="https://twitter.com/Twitter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="{{ asset('assets/twitter.png') }}" style=" width:100%"/></a>
                    <a class="circle" style="background-color:transparent" href="https://za.pinterest.com/"><img src="{{ asset('assets/pinterest.png') }}" style=" width:100%"/></a>
       
                </div>
                </div>
            </div>
<script>
        function previewFile(input){
            var file = $("input[type=file]").get(0).files[0];
            if(file){
                var reader = new FileReader();
                reader.onload = function(){
                    $("#preview_image").attr("src", reader.result);
                }
                reader.readAsDataURL(file);
            }
        }
</script>
            
{% endblock %}