{% extends "base.html.twig" %}

{% block stylesheets %}
  <link href="{{ asset('css/home.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}
CoCreate
{% endblock %}

{% block body %}

<div class="fab-container">
  <div class="fab fab-icon-holder">
    <a href="/ask"><i class="fas fa-question"></i></a>
  </div>
</div>

    <script>

      $(document).ready(function() {
    
    console.log("ready");

    $(".item-card").hide();
    $(".login-btn").hide();
    
    if($('.item-card[value="' + "Illustration" + '"]').length > 12){
      $(".login-btn").show();
    }
    
    if ($('.item-card[value="' + "UX design" + '"]').length > 12){
      $(".login-btn").show();
    }

     $('.item-card[value="' + "Illustration" + '"]').slice(0, 12).show();

        $(".inactive-toggle").on("click", function(){
            
            $(".inactive-toggle").removeClass("active-toggle");
            $(this).addClass("active-toggle");

            if ($(".active-toggle").text() == "Illustration") {
                    $(".item-card").hide();
            $('.item-card[value="' + "Illustration" + '"]').slice(0, 12).show();


            if($('.item-card[value="' + "Illustration" + '"]').length > 12){
              $(".login-btn").show();
            }

            }else if($(".active-toggle").text() == "UX design") {
                    $(".item-card").hide();
            $('.item-card[value="' + "UX design" + '"]').slice(0, 12).show();

            if($('.item-card[value="' + "UX design" + '"]').length > 12){
              $(".login-btn").show();
            }

            }else{
                    $(".item-card").hide();
            $('.item-card[value="' + "Graphic design" + '"]').slice(0, 12).show();

              if($('.item-card[value="' + "Graphic design" + '"]').length > 12){
              $(".login-btn").show();
            }
            }

        });//toggle click
        
        $(".login-btn").on("click", function(){
                        if ($(".active-toggle").text() == "Illustration") {
                    $(".item-card").hide();
            $('.item-card[value="' + "Illustration" + '"]').slice(0, 24).show();
            $(".login-btn").hide();

            }else if($(".active-toggle").text() == "UX design") {
                    $(".item-card").hide();
            $('.item-card[value="' + "UX design" + '"]').slice(0, 24).show();
                 $(".login-btn").hide();

            }else{
                    $(".item-card").hide();
            $('.item-card[value="' + "Graphic design" + '"]').slice(0, 24).show();
                 $(".login-btn").hide();
            }
        });//load more 
        
     });//ready


    </script>

            <nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg"><!--fix colour at a later stage-->
                
                <a class="navbar-brand brand" href="#"><img class="img-responsive1" src="{{ asset('assets/logo2.png') }}" style="width:40%;"></a><!--insert logo-->

                <div id="navBarContent" style="margin-top:30px">
                        <!--nav content-->
                    <ul class="navbar-nav" >
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Explore</a>
                        </li>

                        <li class="nav-item link2">
                            <a class="nav-link" style="margin-left:20px" href="/profile/{{app.user.id}}">My Profile</a>
                        </li>
                    </ul><!--navbar-nav-->
                    
                </div><!--end of navcontent-->   
            </nav><!--end of nav-->
    
                    {% if app.user.access == 3 %}
                      <p class="admin">Welcome admin!</p>
                    {% endif %}

            <div class="row" style="margin-top:150px;">
                <h1 class="main-header">Explore illustration creations...</h1>
            </div>
            
            <div class="row" style="margin-top:40px">
                <div class="toggle col-11 col-lg-6">
                    <div class="inactive-toggle active-toggle col-4" value="Illustration">Illustration</div>
                      <div class="inactive-toggle col-4" value="UX design">UX design</div>
                        <div class="inactive-toggle col-4" value="Graphic design">Graphic design</div>
                </div><!--toggle-->
            </div>

            <div class="row"style="padding:40px">
            
            {% for question in questions %} {#for loop looks in twig #}

               <div class="item-card col-12 col-md-6 col-lg-3" value="{{question.community}}"> <a href="/question/{{question.id}}">
                    <div class="inner col-12" style="background-image: url(../questions/{{question.imageUrl}});"></div><!--inner-->
                    <div class="row" style="margin-top:330px">
                        
                        <div class="mini-pic"> <img src="{{ asset('/profiles/' ~ question.userId.profilePic) }}"/></div>
                         <p class="details"><strong>{{question.userId.name}}</strong><br>{{question.questionText}}</p>
                    </div><!--row--></a>
                </div><!--itemcard-->
              
                   {% endfor %}
  </div>

            <div class="row">
                  <div class="login-btn col-10 col-sm-10 col-md-4 col-lg-1">Load more</div>
            </div>

            <div class="row" style="margin-top:70px">
              <div class="footer col-12 row">
                  <div class="col-6 col-lg-4 footerLogo"><img class="img-responsive" src="{{ asset('assets/Group 5.png') }}"></div>
                  <div class="col-6 col-lg-4 d-none d-lg-block" style="text-align:center; color:white; margin-top:60px">COPYRIGHT 2021 PROJECT</div>
                  <div class="col-6 col-lg-4" style="margin-top:45px;">
                    <a class="circle facebookCircle" href="https://web.facebook.com/?_rdc=1&_rdr"><img  src="{{ asset('assets/facebook.png') }}" style=" width:100%"/></a>
                    <a class="circle" href="https://www.instagram.com/"><img src="{{ asset('assets/insta.png') }}" style=" width:100%"/></a>
                    <a class="circle" href="https://twitter.com/Twitter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="{{ asset('assets/twitter.png') }}" style=" width:100%"/></a>
                    <a class="circle" style="background-color:transparent" href="https://za.pinterest.com/"><img src="{{ asset('assets/pinterest.png') }}" style=" width:100%"/></a>
       
                </div>
                </div>
            </div>

            
{% endblock %}