{% extends "base.html.twig" %}

{% block stylesheets %}
  <link href="{{ asset('css/profile.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}
CoCreate
{% endblock %}

{% block body %}

            <nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg"><!--fix colour at a later stage-->
                
                <a class="navbar-brand brand" href="#"><img class="img-responsive1" src="{{ asset('assets/logo2.png') }}" style="width:40%;"></a><!--insert logo-->

                <div id="navBarContent" style="margin-top:30px">
                        <!--nav content-->
                    <ul class="navbar-nav" >
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Explore</a>
                        </li>

                        <li class="nav-item link2">
                            <a class="nav-link" style="margin-left:20px" href="/profile/{{app.user.id}}">My Profile</a>
                        </li>
                    </ul><!--navbar-nav-->
                    
                </div><!--end of navcontent-->   
            </nav><!--end of nav-->
                  <div class="row" style="margin-top:-80px">
                              <a class="logout-btn col-lg-1 col-md-2" href="/logout" ><div >Logout</div></a>
                </div>
             {{ form_start(form) }}

            <div class="row">
                <div class="profile-pic col-lg-1 col-md-2 col-4"><img id="preview_image" src="{{ asset('/profiles/' ~ app.user.profilePic) }}"/></div>
                <div class="add">
                            {{ form_widget(form.profilePic, {'attr':{'class':'custom-file-input', 'onchange':'previewFile(this)', 'value':app.user.profilePic,'required':false}}) }}  
                </div>


    <div class="profile-container col-md-5">
                <h1 class="name row">{{app.user.name}}</h1>
                 <h4 class="email row">{{app.user.email}}</h4>
            </div>
             </div>

    <div class="row" style="margin-top:60px;">

                <i class="fas fa-user"></i>
                  {{ form_widget(form.name,{'attr':{'class':'col-lg-5 col-10','id':'name', 'placeholder':user.name}})}}
                {# <input class="col-5" type="text" name="name" id="name" placeholder="Fullname"/> #}

                <i class="fas fa-unlock-alt"></i>
                  {{ form_widget(form.email,{'attr':{'class':'col-lg-5 col-10','id':'email', 'placeholder':user.name, 'style':'margin-left:50px'}})}}
                {# <input class="col-5" type="email" name="email" id="email" placeholder="Email" style="margin-left:50px"/> #}

                {{form_widget(form.password, { 'attr': {'class': 'form-control', 'placeholder': 'questionId', 'style': 'margin: 10px; display:none', 'value' : user.password } }) }}
                <input id="user_edit_password" name="user_edit[password]" value= {{user.password}} style="display:none" />
    </div>

    <div class="row">
    {{form_widget(form.submit, {'attr':{'class':'submit-btn col-lg-1 col-md-3 col-9'}})}}
    </div>

    {{form_end(form)}}

    <div class="row">
      <h1 class="past">Past posts</h1>
    </div>


<div class="container testimonial-group col-12" style="margin-top:30px; margin-bottom:30px">
  <div class="row">
  <a href="/ask" style="margin-left:150px"><div class="add-new"><img  src="{{ asset('assets/add.png') }}" style="width:70px;"/></div></a>

              {% for question in app.user.questions %} {#for loop looks in twig #}

               <div class="item-card col-11 col-md-6 col-lg-3" value="{{question.community}}"><a href="/question/{{question.id}}">
                    <div class="inner col-12" style="background-image: url(../questions/{{question.imageUrl}});"></div><!--inner-->
                    <div class="row" style="margin-top:330px">
                        
                         <p class="details"><strong>{{question.community}}</strong><br>{{question.questionText}}</p>
                    </div><!--row--></a>
                </div><!--itemcard-->
              
                   {% endfor %}
                   
  </div>
</div>


    <div class="row">
      <h1 class="past">All users</h1>
    </div>

<div class="container testimonial-group col-12" style="margin-top:30px; margin-bottom:30px">
  <div class="row" style="padding-left:140px">

              {% for allUsers in allUsers %} {#for loop looks in twig #}

               <div class="item-card col-11 col-md-6 col-lg-3">
                    <div class="inner2 col-12">
                     <p class="details col-7"><strong>{{allUsers.name}}</strong><br>{{allUsers.email}}</p>
                     <div class="ban col-4">Ban user</div>
                    </div><!--inner-->
              
                </div><!--itemcard-->
              
                   {% endfor %}
                   
  </div>
</div>

 <div class="row footerContainer" >
              <div class="footer col-12 row">
                  <div class="col-6 col-lg-4 footerLogo"><img class="img-responsive" src="{{ asset('assets/Group 5.png') }}"></div>
                  <div class="col-6 col-lg-4 d-none d-lg-block" style="text-align:center; color:white; margin-top:60px">COPYRIGHT 2021 PROJECT</div>
                  <div class="col-6 col-lg-4" style="margin-top:45px;">
                    <a class="circle facebookCircle" href="https://web.facebook.com/?_rdc=1&_rdr"><img  src="{{ asset('assets/facebook.png') }}" style=" width:100%"/></a>
                    <a class="circle" href="https://www.instagram.com/"><img src="{{ asset('assets/insta.png') }}" style=" width:100%"/></a>
                    <a class="circle" href="https://twitter.com/Twitter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="{{ asset('assets/twitter.png') }}" style=" width:100%"/></a>
                    <a class="circle" style="background-color:transparent" href="https://za.pinterest.com/"><img src="{{ asset('assets/pinterest.png') }}" style=" width:100%"/></a>
       
                </div>
                </div>

                


        <script>

        function previewFile(input){
            var file = $("input[type=file]").get(0).files[0];
            if(file){
                var reader = new FileReader();
                reader.onload = function(){
                    $("#preview_image").attr("src", reader.result);
                }
                reader.readAsDataURL(file);
            }
        }

    </script>

{% endblock %}

