{% extends "base.html.twig" %}

{% block stylesheets %}
  <link href="{{ asset('css/question.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}
CoCreate
{% endblock %}

{% block body %}

            <nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg"><!--fix colour at a later stage-->
                
                <a class="navbar-brand brand" href="#"><img class="img-responsive1" src="{{ asset('assets/logo2.png') }}" style="width:40%;"></a><!--insert logo-->

                <div id="navBarContent" style="margin-top:30px">
                        <!--nav content-->
                    <ul class="navbar-nav" >
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Explore</a>
                        </li>

                        <li class="nav-item link2">
                            <a class="nav-link" style="margin-left:20px" href="/profile/{{app.user.id}}">My Profile</a>
                        </li>
                    </ul><!--navbar-nav-->
                    
                </div><!--end of navcontent-->   
            </nav><!--end of nav-->

                              <div class="row" style="margin-top:-40px">
                                              {% if app.user.access == 3 %}
                                              <a class="del-btn" href="/question/{{question.id}}/delete" ><div >Delete Post</div></a>
                                              {% endif %}
              
                              </div><!--row-->

            <div class="row">
              <div class="col-12 col-lg-6 picContainer" >
                <div class="picture-input col-12 col-lg-10" data-id="{{ question.id }}">
                  <img src="{{ asset('/questions/' ~ question.imageUrl) }}" style="width:100%; height:56vh; border-radius: 50px;     object-fit: cover;"/>
                  </div>    
                </div>

            <div class="gradient col-6 d-none d-lg-block"></div>
              <div class="col-10 col-lg-6 half2">              
                  <div class="col-12" style="margin-top:0px; margin-left:-10px;">
                    <div class="circle"> <img src="{{ asset('/profiles/' ~ question.userId.profilePic) }}"/></div>
                    <div class="aboutAuthor col-9" style="float:left; margin-left:0;">
                      <h3 class="author" >{{question.userId.name}}</h3>
                      <p class="whichCommunity">{{question.community}} community</p>
                    </div><!--about author-->
                  </div>
                  

            <div class="col-12 col-lg-10 textArea">{{question.questionText}}</div>

              <h1 class="col-10 responseH">Responses:</h1>

     {% for answers in question.answers %}
            <div class="row">
            
                  <div class="col-12 col-lg-10 response">

                                            {% if app.user.access == 3 %}
                                              <a href="/question/{{answers.id}}/deleteResponse" ><img src="{{ asset('assets/close.png')}}" style="width:3%; float:right;" /></a>
                                              {% endif %}
              
                    <div class="circle  d-none d-md-block"> <img src="{{ asset('/profiles/' ~ answers.user.profilePic) }}" /></div>
                    <div style=" margin-left:20px;">
                      <h4 class="user">{{answers.user.name}}</h4>
                       <p class='community'>{{question.community}} community</p>
                    </div>

                    {% if app.user.access != 3 %}
                    <div class="votes-container">
                    <div class="up" data-id="{{ answers.id }}"><p>{{answers.upvotes}}</p><img src="{{asset('assets/up.png')}}" class="upvote"/></div>
                     <div class="down" data-id="{{ answers.id }}"><p> {{answers.downvotes}}</p> <img src="{{asset('assets/down.png')}}" class="downvote"/></div>
                    </div>

                    {% endif %}
                    <div class="line col-12"></div>
                    <p class="col-12" style="margin-top:20px">{{answers.comment}}</p>

                    {% if (app.user == question.userId) and (answers.pinned != "1") %}
                      <a href="/question/{{answers.id}}/pin" class="pin"><img src="{{asset('assets/pin.png')}}"/><div></div></a>
                    {% endif %}


                    {% if answers.pinned == "1" %}
                      <p class="pinned">this comment is pinned</p>
                      <script>  $(document).ready(function() {
                        $(".pin").hide();
                      });
                    </script>
                    {% endif %}
                    
                  </div>
            </div>
         {% endfor %}

            <div class="row">
               {{ form_start(form, {'attr':{'class':'col-12 col-lg-10', 'style':'padding:0'}}) }}
               <div class="col-12 reply">
                 {{ form_widget(form.comment, {'attr':{'class':'col-12', 'type':'text', 'style':'width:87%;', 'placeholder':'What do you think?'}}) }}
                               {{form_widget(form.user, { 'attr': {'class': 'form-control', 'placeholder': 'userid', 'style': 'margin: 10px; display:none', 'value' : app.user.id } }) }}
                               <input id="answer_user" name="answer[user]" value= {{app.user.id}} style="display:none" />
                               {{form_widget(form.question, { 'attr': {'class': 'form-control', 'placeholder': 'questionId', 'style': 'margin: 10px; display:none', 'value' : question.id } }) }}
                                <input id="answer_question" name="answer[question]" value= {{question.id}} style="display:none" />

                              {{ form_widget(form.submit, {'attr':{'class':'post', 'text':''}}) }}
                 {{form_end(form)}}
               </div><!--reply-->
            </div><!--row-->

            </div><!--half2-->

            </div><!--half2-->

         
            <div class="row footerContainer" >
              <div class="footer col-12 row">
                  <div class="col-6 col-lg-4 footerLogo"><img class="img-responsive" src="{{ asset('assets/Group 5.png') }}"></div>
                  <div class="col-6 col-lg-4 d-none d-lg-block" style="text-align:center; color:white; margin-top:60px">COPYRIGHT 2021 PROJECT</div>
                  <div class="col-6 col-lg-4" style="margin-top:45px;">
                    <a class="circlef facebookCircle" href="https://web.facebook.com/?_rdc=1&_rdr"><img  src="{{ asset('assets/facebook.png') }}" style=" width:100%"/></a>
                    <a class="circlef" href="https://www.instagram.com/"><img src="{{ asset('assets/insta.png') }}" style=" width:100%"/></a>
                    <a class="circlef" href="https://twitter.com/Twitter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="{{ asset('assets/twitter.png') }}" style=" width:100%"/></a>
                    <a class="circlef" style="background-color:transparent" href="https://za.pinterest.com/"><img src="{{ asset('assets/pinterest.png') }}" style=" width:100%"/></a>
                </div>
                </div>
            </div>

            
{% endblock %}

{% block javascripts %}
    <script src="../js/votes.js"></script>
{% endblock %}