{% extends "base.html.twig" %}

{% block stylesheets %}
  <link href="{{ asset('css/question.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}
CoCreate
{% endblock %}

{% block body %}
            <nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg"><!--fix colour at a later stage-->
                
                <a class="navbar-brand brand" href="#"><img class="img-responsive" src="{{ asset('assets/logo2.png') }}" style="width:40%;"></a><!--insert logo-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarContent" aria-controls="navBarContent" aria-expanded="false" aria-label="Toggle Nav!">
                    <span class="navbar-toggler-icon"></span>
                </button><!--setup for mobile-->

            
                <div class="collapse navbar-collapse" id="navBarContent" style="margin-top:30px">
                        <!--nav content-->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" style="margin-left:-50px" href="/">Explore</a>
                        </li>

                        <li class="nav-item">
                                                <a class="nav-link" style="margin-left:20px" href="/profile/{{app.user.id}}">My Profile</a>
                        </li>
                    </ul><!--navbar-nav-->

                    
                </div><!--end of navcontent-->   
            </nav><!--end of nav-->

            <div class="row">
              <div class="col-12 col-lg-6" style="padding:80px">
                <div class="picture-input col-10" style="margin-left:11%">
                  <img src="{{ asset('/questions/' ~ question.imageUrl) }}" style="width:100%; height:56vh; border-radius: 50px;"/>
                </div>
              </div>

              <div class="col-12 col-lg-6 half2">              
                  <div class="col-10" style="margin-top:0px">
                    <div class="circle"> <img src="{{ asset('/profiles/' ~ question.userId.profilePic) }}" style="width:100%;  height: 2.5vw; border-radius: 100px;"/></div>
                    <div class="aboutAuthor col-9" style="float:right;">
                      <h3 class="author" style=" margin-left:-100px;">{{question.userId.name}}</h3>
                      <p class="whichCommunity" style=" margin-left:-100px;">{{question.community}} community</p>
                    </div>
                  </div>
                  

            <div class="col-10 textArea">{{question.questionText}}</div>

              <h1 class="col-10 responseH">Responses:</h1>

     {% for answers in question.answers %}
            <div class="row">
                  <div class="col-10 response">
                    <div class="circle"> <img src="{{ asset('/profiles/' ~ answers.user.profilePic) }}" style="width:100%;  height: 2.5vw; border-radius: 100px;"/></div>
                    <div style=" margin-left:20px;">
                      <h4 class="user" style="font-size:20px; margin-left:50px;">{{answers.user.name}}</h4>
                       <p class='community' style="font-size:15px; margin-left:50px;">{{question.community}} community</p>
                    </div>
                    <div class="line col-12"></div>
                    <p class="col-12" style="margin-top:20px">{{answers.comment}}</p>
                  </div>
            </div>
         {% endfor %}


            <div class="row">
               {{ form_start(form, {'attr':{'class':'col-10', 'style':'padding:0'}}) }}
               <div class="col-12 reply">
                 {{ form_widget(form.comment, {'attr':{'class':'col-12', 'type':'text', 'style':'width:87%;', 'placeholder':'What do you think?'}}) }}
                               {{form_widget(form.user, { 'attr': {'class': 'form-control', 'placeholder': 'userid', 'style': 'margin: 10px; display:none', 'value' : app.user.id } }) }}
                               <input id="answer_user" name="answer[user]" value= {{app.user.id}} style="display:none" />
                               {{form_widget(form.question, { 'attr': {'class': 'form-control', 'placeholder': 'questionId', 'style': 'margin: 10px; display:none', 'value' : question.id } }) }}
                                <input id="answer_question" name="answer[question]" value= {{question.id}} style="display:none" />

                              {{ form_widget(form.submit, {'attr':{'class':'post', 'text':''}}) }}
                 {{form_end(form)}}
               </div>
            </div>
            </div><!--half2-->

            </div><!--half2-->

         
            <div class="row" style="margin-top:30px">
              <div class="footer col-12 row">
                  <div class="col-4"><img class="img-responsive" src="{{ asset('assets/Group 5.png') }}" style="width:13%; margin-top:40px; margin-left:80px"></div>
                  <div class="col-4" style="text-align:center; color:white; margin-top:60px">COPYRIGHT 2021 PROJECT</div>
                  <div class="col-4" style="margin-top:45px">
                    <a class="circle" style="margin-left:50%;" href="https://web.facebook.com/?_rdc=1&_rdr"><img  src="{{ asset('assets/facebook.png') }}" style=" width:100%"/></a>
                    <a class="circle" href="https://www.instagram.com/"><img src="{{ asset('assets/insta.png') }}" style=" width:100%"/></a>
                    <a class="circle" href="https://twitter.com/Twitter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="{{ asset('assets/twitter.png') }}" style=" width:100%"/></a>
                    <a class="circle" style="background-color:transparent" href="https://za.pinterest.com/"><img src="{{ asset('assets/pinterest.png') }}" style=" width:100%"/></a>
                  </div>
                </div>
                </div>
            </div>

            
{% endblock %}